In [1399]:
import pandas as pd
import numpy as np
import requests
import matplotlib as plt
import seaborn as sns
from bs4 import BeautifulSoup 
from urllib.request import urlopen, Request

In [1400]:
#importing the driver names and the gap between them and their team mates flat file
quali = pd.read_csv('quali.csv')
print(quali.head(4))
quali.columns

   Pos           Driver Average_Gap                 Car
0   15   George Russell     -0.371s     Williams
1   19  Mick Schumacher     -0.908s               Haas
2    9     Pierre Gasly     -0.603s  AlphaTauri
3    1   Max Verstappen     -0.528s           Red Bull

Index(['Pos', 'Driver', 'Average_Gap', 'Car'], dtype='object')

In [1401]:
url = 'https://www.skysports.com/f1/stats/2021/drivers'
# Create object page
page = requests.get(url)

# parser-lxml = Change html to Python friendly format

soup = BeautifulSoup(page.text, 'lxml')
soup

# Obtain information from tag <table>
table = soup.find('table', {'class':'table -small -nobordertop'})

headers = []
for i in table.find_all('th'):  
    title = i.text
    headers.append(title)

In [1402]:
# Creating a datafram from the website data
df = pd.DataFrame(columns = headers)

for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
  
df

   Pos        Driver          Team    Pts Deficit
0    1  M Verstappen      Red Bull  395.5
1    2    L Hamilton      Mercedes  387.5      -8
2    3      V Bottas      Mercedes    226  -169.5
3    4       S Perez      Red Bull    190  -205.5
4    5       C Sainz       Ferrari  164.5    -231
5    6      L Norris       McLaren    160  -235.5
6    7     C Leclerc       Ferrari    159  -236.5
7    8   D Ricciardo       McLaren    115  -280.5
8    9       P Gasly   Alpha Tauri    110  -285.5
9   10      F Alonso        Alpine     81  -314.5
10  11        E Ocon        Alpine     74  -321.5
11  12      S Vettel  Aston Martin     43  -352.5
12  13      L Stroll  Aston Martin     34  -361.5
13  14     Y Tsunoda   Alpha Tauri     32  -363.5
14  15     G Russell      Williams     16  -379.5
15  16   K Raikkonen    Alfa Romeo     10  -385.5
16  17      N Latifi      Williams      7  -388.5
17  18  A Giovinazzi    Alfa Romeo      3  -392.5
18  19  M Schumacher          Haas      0  -395.5
19  20     N Mazepin          Haas      0  -395.5
20  21      R Kubica    Alfa Romeo      0  -395.5

In [1403]:
# Creating dataframes 
Standings_2021 = pd.DataFrame({
    "Position":["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th",],
    "Team":["Mercedes","RedBull","Ferrari","McLaren","Alpine","Alpha Tauri","Aston Martin","Williams","Alpha Romeo","Haas",]})
Standings_2021

  Position          Team
0      1st      Mercedes
1      2nd       RedBull
2      3rd       Ferrari
3      4th       McLaren
4      5th        Alpine
5      6th   Alpha Tauri
6      7th  Aston Martin
7      8th      Williams
8      9th   Alpha Romeo
9     10th          Haas

In [1404]:
Points_2021 =  pd.DataFrame({
    "Position":["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th",],
    "Points":["613","585","323","275","155","142","77","23","13","0",]
})
Points_2021

  Position Points
0      1st    613
1      2nd    585
2      3rd    323
3      4th    275
4      5th    155
5      6th    142
6      7th     77
7      8th     23
8      9th     13
9     10th      0

In [1405]:
# merging of a dataframe
inner = pd.merge(Standings_2021, Points_2021)
inner

  Position          Team Points
0      1st      Mercedes    613
1      2nd       RedBull    585
2      3rd       Ferrari    323
3      4th       McLaren    275
4      5th        Alpine    155
5      6th   Alpha Tauri    142
6      7th  Aston Martin     77
7      8th      Williams     23
8      9th   Alpha Romeo     13
9     10th          Haas      0

In [1406]:
#read in csv file of teams, points plus the A and B drivers for each team 
TeamPoints = pd.read_csv('TeamPoints.csv')
TeamPoints

            Team  Points Driver
0       Mercedes     387      A
1        RedBull     395      A
2        Ferrari     164      A
3        McLaren     160      A
4         Alpine      81      A
5    Alpha Tauri     110      A
6   Aston Martin      43      A
7       Williams      16      A
8    Alpha Romeo      10      A
9           Haas       0      A
10      Mercedes     226      B
11       RedBull     190      B
12       Ferrari     159      B
13       McLaren     115      B
14        Alpine      74      B
15   Alpha Tauri      32      B
16  Aston Martin      34      B
17      Williams       0      B
18   Alpha Romeo       3      B
19          Haas       0      B

In [1407]:
#Groupby teams and calculating mean points earning
TeamPoints.groupby('Team').mean()

              Points
Team
Alpha Romeo      6.5
Alpha Tauri     71.0
Alpine          77.5
Aston Martin    38.5
Ferrari        161.5
Haas             0.0
McLaren        137.5
Mercedes       306.5
RedBull        292.5
Williams         8.0