In [138]:
import pandas as pd
import numpy as np
import requests
import matplotlib as plt
import seaborn as sns
from bs4 import BeautifulSoup 
from urllib.request import urlopen, Request

In [139]:
#importing the driver names and the gap between them and their team mates flat file
quali = pd.read_csv('quali.csv')
print(quali.head())

            Driver Average gap to team mate                   Team
0   George Russell                  -0.371s      WILLIAMS MERCEDES
1  Mick Schumacher                  -0.908s           HAAS FERRARI
2     Pierre Gasly                  -0.603s       ALPHATAURI HONDA
3   Max Verstappen                  -0.528s  RED BULL RACING HONDA
4   Lewis Hamilton                  -0.347s               MERCEDES

In [140]:
url = 'https://www.formula1.com/en/results.html/2021/drivers.html'
# Create object page
page = requests.get(url)

# parser-lxml = Change html to Python friendly format

soup = BeautifulSoup(page.text, 'lxml')
soup

# Obtain information from tag <table>
table = soup.find('table', {'class':'resultsarchive-table'})

headers = []
for i in table.find_all('th'):  
    title = i.text
    headers.append(title)

In [141]:
df = pd.DataFrame(columns = headers)

for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
df.head(3)

    Pos                 Driver Nationality                    Car    PTS
0     1   Max\nVerstappen\nVER         NED  Red Bull Racing Honda  395.5
1     2   Lewis\nHamilton\nHAM         GBR               Mercedes  387.5
2     3  Valtteri\nBottas\nBOT         FIN               Mercedes    226

In [142]:
#left join csv with web scrape
full_table = quali.merge(df, left_on='Team', right_on='Car', how='right')





full_table.head(5)

,Driver_x,Average gap to team mate,Team,,Pos,Driver_y,Nationality,Car,PTS,
0,NaN,NaN,NaN,,1,Max\nVerstappen\nVER,NED,Red Bull Racing Honda,395.5,
1,NaN,NaN,NaN,,2,Lewis\nHamilton\nHAM,GBR,Mercedes,387.5,
2,NaN,NaN,NaN,,3,Valtteri\nBottas\nBOT,FIN,Mercedes,226,
3,NaN,NaN,NaN,,4,Sergio\nPerez\nPER,MEX,Red Bull Racing Honda,190,
4,NaN,NaN,NaN,,5,Carlos\nSainz\nSAI,ESP,Ferrari,164.5,